hcloud_token               = "<your-hetzner-api-token>"
ssh_public_key             = "~/.ssh/id_ed25519.pub"
ssh_private_key            = "~/.ssh/id_ed25519"
github_oauth_client_id     = "<your-github-oauth-client-id>"
github_oauth_client_secret = "<your-github-oauth-client-secret>"
github_repo_pat            = "<your-github-pat-for-argocd>"
backstage_github_client_id     = "<your-backstage-github-oauth-client-id>"
backstage_github_client_secret = "<your-backstage-github-oauth-client-secret>"
